jsonschema~=4.21
json-schema-for-humans
matplotlib>=3.9.1
numpy<2.6
pyyaml

# For the docs
sphinx
myst-nb~=1.1
sphinx-design>=0.5
pydata-sphinx-theme~=0.20
sphinxcontrib.mermaid~=2.1
sphinxcontrib.youtube~=1.5
sphinx-simplepdf~=1.6
linkify-it-py

# attribute tables
# import altair as alt
itables~=2.2
pandas~=2.2
networkx
ghapi<2
pygraphviz
squarify
mpl-chord-diagram
pyvis
